<div class="bg-green-800">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:py-16 sm:px-6 lg:px-8 lg:py-20">
    <div class="max-w-4xl sm:max-w-5xl mx-auto text-center">
      <h1 class="text-3xl leading-9 font-extrabold text-white sm:text-5xl sm:leading-10">
        Bringing the <svg class="h-12 sm:h-16 w-12 sm:w-16 inline" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M3 5a2 2 0 012-2h10a2 2 0 012 2v8a2 2 0 01-2 2h-2.22l.123.489.804.804A1 1 0 0113 18H7a1 1 0 01-.707-1.707l.804-.804L7.22 15H5a2 2 0 01-2-2V5zm5.771 7H5V5h10v7H8.771z" clip-rule="evenodd"></path></svg> to the Diablo Valley
      </h1>
      <p class="mt-3 text-xl leading-7 text-green-200 sm:mt-4">
        The Diablo Valley is the perfect place to start, run, or join a technology company.
      </p>
    </div>
    <dl class="mt-10 text-center sm:max-w-3xl sm:mx-auto sm:grid sm:grid-cols-3 sm:gap-8">
      <div class="flex flex-col">
        <dt class="order-2 mt-2 text-lg leading-6 font-medium text-green-200">
          miles to SF
        </dt>
        <dd class="order-1 text-5xl leading-none font-extrabold text-white">
          24
        </dd>
      </div>
      <div class="flex flex-col mt-10 sm:mt-0">
        <dt class="order-2 mt-2 text-lg leading-6 font-medium text-green-200">
          BART stations
        </dt>
        <dd class="order-1 text-5xl leading-none font-extrabold text-white">
          8
        </dd>
      </div>
      <div class="flex flex-col mt-10 sm:mt-0">
        <dt class="order-2 mt-2 text-lg leading-6 font-medium text-green-200">
          local universities
        </dt>
        <dd class="order-1 text-5xl leading-none font-extrabold text-white">
          4
        </dd>
      </div>
    </dl>
  </div>
</div>
<div class="py-12 bg-white">
  <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="lg:text-center">
      <p class="text-base leading-6 text-green-600 font-semibold tracking-wide uppercase">Programs for residents and businesses</p>
      <h3 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
        Helping our valley take advantage of tech
      </h3>
      <p class="mt-4 max-w-2xl text-xl leading-7 text-gray-500 lg:mx-auto">
        The Diablo Valley Tech Initiative (DVTI) studies and promotes the initiatives that enable us to cultivate and benefit from a thriving tech sector.
      </p>
    </div>
    <div class="mt-12">
      <ul class="md:grid md:grid-cols-2 md:col-gap-8 md:row-gap-10">
        <li>
          <div class="flex">
            <div class="flex-shrink-0">
              <div class="flex items-center justify-center h-12 w-12 rounded-md bg-green-500 text-white">
                <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 20 20">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M9 4.804A7.968 7.968 0 005.5 4c-1.255 0-2.443.29-3.5.804v10A7.969 7.969 0 015.5 14c1.669 0 3.218.51 4.5 1.385A7.962 7.962 0 0114.5 14c1.255 0 2.443.29 3.5.804v-10A7.968 7.968 0 0014.5 4c-1.255 0-2.443.29-3.5.804V12a1 1 0 11-2 0V4.804z" />
                </svg>
              </div>
            </div>
            <div class="ml-4">
              <h5 class="text-lg leading-6 font-medium text-gray-900">Learn new skills</h5>
              <p class="mt-2 text-base leading-6 text-gray-500">
                Get the skills required to join a local tech company from any of our numerous public and private local colleges and universities.
              </p>
            </div>
          </div>
        </li>
        <li class="mt-10 md:mt-0">
          <div class="flex">
            <div class="flex-shrink-0">
              <div class="flex items-center justify-center h-12 w-12 rounded-md bg-green-500 text-white">
                <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 20 20">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-13a1 1 0 10-2 0v.092a4.535 4.535 0 00-1.676.662C6.602 6.234 6 7.009 6 8c0 .99.602 1.765 1.324 2.246.48.32 1.054.545 1.676.662v1.941c-.391-.127-.68-.317-.843-.504a1 1 0 10-1.51 1.31c.562.649 1.413 1.076 2.353 1.253V15a1 1 0 102 0v-.092a4.535 4.535 0 001.676-.662C13.398 13.766 14 12.991 14 12c0-.99-.602-1.765-1.324-2.246A4.535 4.535 0 0011 9.092V7.151c.391.127.68.317.843.504a1 1 0 101.511-1.31c-.563-.649-1.413-1.076-2.354-1.253V5z" />
                </svg>
              </div>
            </div>
            <div class="ml-4">
              <h5 class="text-lg leading-6 font-medium text-gray-900">Find a job</h5>
              <p class="mt-2 text-base leading-6 text-gray-500">
                Join a local tech company or find a remote telecommuting position and work from home so you can stop commuting and start enjoying the Diablo Valley -- throughout your work week.
              </p>
            </div>
          </div>
        </li>
        <li class="mt-10 md:mt-0">
          <div class="flex">
            <div class="flex-shrink-0">
              <div class="flex items-center justify-center h-12 w-12 rounded-md bg-green-500 text-white">
                <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 20 20">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M4 4a2 2 0 012-2h8a2 2 0 012 2v12a1 1 0 110 2h-3a1 1 0 01-1-1v-2a1 1 0 00-1-1H9a1 1 0 00-1 1v2a1 1 0 01-1 1H4a1 1 0 110-2V4zm3 1h2v2H7V5zm2 4H7v2h2V9zm2-4h2v2h-2V5zm2 4h-2v2h2V9z" />
                </svg>
              </div>
            </div>
            <div class="ml-4">
              <h5 class="text-lg leading-6 font-medium text-gray-900">Sign a lease</h5>
              <p class="mt-2 text-base leading-6 text-gray-500">
                Commercial rents in the Diablo Valley are 30% lower and far less onerous than typical rents in San Francisco, Oakland, or the peninsula.
              </p>
            </div>
          </div>
        </li>
        <li class="mt-10 md:mt-0">
          <div class="flex">
            <div class="flex-shrink-0">
              <div class="flex items-center justify-center h-12 w-12 rounded-md bg-green-500 text-white">
                <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 20 20">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z" />
                </svg>
              </div>
            </div>
            <div class="ml-4">
              <h5 class="text-lg leading-6 font-medium text-gray-900">Find employees</h5>
              <p class="mt-2 text-base leading-6 text-gray-500">
                The Diablo Valley is where many tech managers and senior executives already call home, and where a growing number of young people are starting their careers.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="bg-green-200">
  <div class="max-w-screen-xl mx-auto pt-12 pb-16 sm:pt-16 sm:pb-20 px-4 sm:px-6 lg:pt-20 lg:pb-28 lg:px-8">
    <h2 class="text-3xl leading-9 font-extrabold text-green-900">
      Frequently asked questions
    </h2>
    <div class="mt-6 border-t-2 border-green-50 pt-10">
      <dl class="md:grid md:grid-cols-2 md:gap-8">
        <div>
          <div>
            <dt class="text-lg leading-6 font-medium text-green-900">
              What is the Diablo Valley?
            </dt>
            <dd class="mt-2">
              <p class="text-base leading-6 text-green-800">
                We agree with this short description on <%= link_to 'Wikipedia', 'https://en.wikipedia.org/wiki/Diablo_Valley', target: :blank, class: "underline hover:text-green-900" %>, which places the "Diablo Valley" west/northwest of Mount Diablo. It includes the cities north of Highway 24 and along the 680 artery.
              </p>
            </dd>
          </div>
          <div class="mt-12">
            <dt class="text-lg leading-6 font-medium text-green-900">
              How did the DVTI come about?
            </dt>
            <dd class="mt-2">
              <p class="text-base leading-6 text-green-800">
                The DVTI began when a member of the Business Administration Department Advisory Board at Diablo Valley College asked an intriguing question: Why aren't there more tech companies based in the Diablo Valley? A committee was formed to look into it, and that committee became the DVTI.
              </p>
            </dd>
          </div>
          <div class="mt-12">
            <dt class="text-lg leading-6 font-medium text-green-900">
              Is the DVTI funded by Diablo Valley College (DVC)?
            </dt>
            <dd class="mt-2">
              <p class="text-base leading-6 text-green-800">
                Yes and no. It is supported by DVC but funding comes from state and federal grants for workforce development. Since the interests of the DVTI and DVC are so well-aligned, it has been a natural partnership, but DVTI does not take funding away from other DVC programs.
              </p>
            </dd>
          </div>
        </div>
        <div class="mt-12 md:mt-0">
          <div>
            <dt class="text-lg leading-6 font-medium text-green-900">
              How can I join the DVTI?
            </dt>
            <dd class="mt-2">
              <p class="text-base leading-6 text-green-800">
                Membership is open to anyone who wants to help us fulfill our mission! Contact us and we'll follow up to get to know you and learn how you'd like to contribute.
              </p>
            </dd>
          </div>
          <div class="mt-12">
            <dt class="text-lg leading-6 font-medium text-green-900">
              Where is the DVTI based?
            </dt>
            <dd class="mt-2">
              <p class="text-base leading-6 text-green-800">
                The DVTI was formed at the Diablo Valley College Pleasant Hill campus. It meets on this campus because it is centrally located at the heart of the Diablo Valley and DVC continues to be a major supporter of the initiative.
              </p>
            </dd>
          </div>
          <div class="mt-12">
            <dt class="text-lg leading-6 font-medium text-green-900">
              Who runs the DVTI?
            </dt>
            <dd class="mt-2">
              <p class="text-base leading-6 text-green-800">
                The DVTI is a volunteer organization comprised of community leaders, elected officials, professors, administrators, and local community members and entrepreneurs.
              </p>
            </dd>
          </div>
        </div>
      </dl>
    </div>
  </div>
</div>
