<%= provide :title, "DVTI | Privacy Policy" %>
<%= provide :meta_description, "DVTI takes your privacy very seriously." %>

<div class="py-12 sm:py-20 bg-green-200">
  <main class="mx-auto max-w-screen-xl px-4 sm:px-6">
    <div class="text-center">
      <h1 class="text-4xl tracking-tight leading-10 font-extrabold text-green-900 sm:text-5xl sm:leading-none md:text-6xl">
        Privacy Policy
      </h1>
    </div>
  </main>
</div>
<div class="bg-indigo-50 p-24">
  <div class="p-10 max-w-5xl mx-auto rounded-lg border text-base sm:text-lg text-gray-800 article bg-white">

  <p>The Diablo Valley Tech Initiative ("us", "we", or "our") operates the https://www.dvti.org website (the "Website"). This Privacy Policy informs you of our policies regarding the collection, use and disclosure of Personal Information when you use our Website. We collect and use information from visitors on our website (“Visitors”). We also collect, maintain, and process information submitted by our registered users (“Users). We provide Users with information about job, job training, and hiring, and commercial leasing opportunitise. If you believe we maintain your Personal Information, this Privacy policy describes your options for accessing, limiting the use and disclosure of, permanently removing, and resolving disputes regarding your Personal Information.</p>

  <p>By using the Website, you agree to the collection and use of information in accordance with this Privacy Policy.</p>

  <p class="text-xl">1. Information Collection and Use</p>

  <p class="text-lg">1.1 Information We Collect</p>

  <p>While using our Website, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to, your email address, name, phone number, and postal address ("Personal Information"). We collect, maintain, and process this Personal Information for the purposes of providing the Website, identifying and communicating with you, responding to your requests/inquiries, servicing your requests, improving our services, and developing new services.</p>

  <p class="text-lg">1.2 Log Data</p>

  <p>We may also collect information that your browser sends whenever you visit our Website ("Log Data"). This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Website that you visit, the time and date of your visit, the time spent on those pages and other statistics. In addition, we may use third party services such as Google Analytics that collect, monitor and analyze this type of information in order to increase our Website's functionality. These third party service providers have their own privacy policies addressing how they use such information.</p>

  <p class="text-lg">1.3 Cookies</p>

  <p>Cookies are files with a small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and transfered to your device. We use cookies to collect information in order to improve our Website for you. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. The Help feature on most browsers provide information on how to accept cookies, disable cookies or to notify you when receiving a new cookie. If you do not accept cookies, you may not be able to use some features of our Website and we recommend that you leave them turned on.</p>

  <p class="text-xl">2. Do Not Track Disclosure</p>

  <p>We support Do Not Track ("DNT"). Do Not Track is a preference you can set in your web browser to inform websites that you do not want to be tracked. You can enable or disable Do Not Track by visiting the Preferences or Settings page of your web browser.</p>

  <p class="text-xl">3. Information Sharing and Disclosure</p>

  <p>We will only share Personal Information with third parties in ways that are described in this Privacy Policy.</p>

  <p class="text-lg">3.1 Transfers to Service Providers</p>

  <p>We may employ third party companies and individuals to facilitate our Website, to provide the Website on our behalf, to perform Website-related services and/or to assist us in analyzing how our Website is used. These third parties provide us with automation, customer relationship management, and database management platforms and software as a service. These third parties have access to your Personal Information only to perform specific tasks on our behalf and are obligated not to disclose or use your Personal Information for any other purpose. Transfers to third parties are covered by the provisions of this Privacy Policy regarding notice and choice, the service agreements with our Users, and our contracts with such third parties.</p>

  <p class="text-lg">3.2 Ad Targeting</p>

  <p>We use information provided by Visitors and Users and from Visitor and User activities on our website and other sites to provide advertising based upon Visitor and User browsing activities and interests. </p>

  <p class="text-lg">3.3 Anonymous Aggregated Information</p>

  <p>We may generate and use anonymized information and aggregated data from our Visitors and Users for any lawful purpose. This is information from which Personal Information has been removed and which does not reveal the identity of any specific Visitor or User.</p>

  <p class="text-lg">3.4 Government Requests</p>

  <p>In certain situations, we may be required to disclose Personal Information in response to lawful government requests by public authorities, including to meet national security or law enforcement requirements.</p>

  <p class="text-lg">3.5 General Disclosures</p>

  <p>We may also disclose Personal Information:</p>
  <ul>
  <li>as required by law, such as to comply with a subpoena, or similar legal process;</li>
  <li>when we believe in good faith that disclosure is necessary to protect our rights; protect your safety or the safety of others; or to investigate fraud;</li>
  <li>if we are involved in a merger, acquisition, or sale of all or a portion of our assets, notice will be provided via email and/or prominent notice on our website of any change in ownership or uses of Personal Information, as well as any choices you may have if you believe we maintain your Personal Information; or to any other third party with your prior consent.</li>
  </ul>

  <p class="text-xl">4. Purpose Limitation</p>

  <p>The use of information submitted by Users through our Website shall be limited to the purpose of providing the services requested by the User who submitted the information. We may retain a Visitor’s information as long as needed for purposes of marketing and sales of our Website to the Visitor. We will retain information submitted by a User, including any third party Personal Information, for as long as needed to provide our Website. We will retain and use information as long as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.</p>

  <p class="text-xl">5. Communications</p>

  <p>We may use your Personal Information to contact you with newsletters, marketing or promotional materials and other information that may be of interest to you. You may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or instructions provided in any email we send.</4>

  <p class="text-xl">6. Security</p>

  <p>The security of your Personal Information is important to us, and we strive to implement and maintain reasonable, commercially acceptable security procedures and practices appropriate to the nature of the information submitted to us, intended to protect it from unauthorized access, destruction, use, modification, or disclosure. However, please be aware that no method of transmission over the internet, or method of electronic storage is 100% secure and we are unable to guarantee the absolute security of the Personal Information we have collected from you. If you have any questions about security on our Website, you can contact us at privacy@dvti.org.</p>

  <p class="text-xl">7. International Transfer</p>

  <p>Your information, including Personal Information, may be transferred to and maintained on computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from your jurisdiction. If you are located outside the United States and choose to provide information to us, please note that we transfer the information, including Personal Information, to the United States and process it there. Your consent to this Privacy Policy followed by your submission of Personal Information represents your agreement to that transfer.</p>

  <p class="text-xl">8. Links To Other Sites</p>

  <p>Our Website may contain links to other sites that are not operated by us and whose privacy practices may differ from ours. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the privacy policy of every site you visit. If you submit personal information to any of those sites, your information is governed by their privacy policy. We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party sites or services.</p>

  <p class="text-xl">9. Blog</p>

  <p>Our website offers a publicly accessible blog or community forum or articles. You should be aware that any information you provide in these areas may be read, collected, and used by others who access them. To request removal of your Personal Information from our blog or community forum, contact us at privacy@dvti.org. In some cases, we may not be able to or we may decline to remove your information, in which case we will let you know if we are unable to or decline to do so and why.</p>

  <p class="text-xl">10. Testimonials</p>

  <p>We display testimonials of satisfied Users on our website in addition to other endorsements. By submitting a testimonial in any forum, you grant us consent to use your name, photo, and likeness along with the testimonial, both on our website and via other media (e.g., including third party sites). If you want to update or delete your testimonial or have questions regarding our use of your testimonial, you can contact us at privacy@dvti.org.</p>

  <p class="text-xl">11. Children's Privacy</p>

  <p>Only persons age 18 or older have permission to access our Website. Our Website does not address anyone under the age of 13 ("Children"). We do not knowingly collect personally identifiable information from children under 13. If you are a parent or guardian and you learn that your Children have provided us with Personal Information, please contact us. If we become aware that we have collected Personal Information from a children under age 13 without verification of parental consent, we take steps to remove that information from our servers.</p>

  <p class="text-xl">12. Changes To This Privacy Policy</p>

  <p>This Privacy Policy is effective as of July 1, 2020 and will remain in effect except with respect to any changes in its provisions in the future, which will be in effect immediately after being posted on this page. We reserve the right to update or change our Privacy Policy at any time and you should check this Privacy Policy periodically. Your continued use of the Website after we post any modifications to the Privacy Policy on this page will constitute your acknowledgment of the modifications and your consent to abide and be bound by the modified Privacy Policy. If we make any material changes to this Privacy Policy, we will notify you either through the email address you have provided us, or by placing a prominent notice on our website.</p>

  <p class="text-xl">Contact Us</p>

  <p>If you have any questions about this Privacy Policy, please contact us at privacy@dvti.org</p>

  <p><em>Last modified 2020-07-16</em></p>
</div>
</div>
